AppData/
Contacts/
Desktop/
Documents/
Downloads/
Dropbox/
Favorites/
Links/
Music/
Pictures/
Saved\ Games/
Searches/
Videos/
.ssh/
ntuser.dat*
ntuser.ini
.bash_history
.bash_logout
.profile
.cache/
.sudo*
